In [1]:
import json
!git clone https://github.com/simonlobgromov/AT_academy_TEST
%cd AT_academy_TEST

fatal: destination path 'AT_academy_TEST' already exists and is not an empty directory.
/content/AT_academy_TEST

In [2]:
!python create_data_script.py --seed 100

---- DATA LOADING ----
SEED: 100

CHECK "your_data.json" IN DERICTORY
END SCRIPT

In [3]:
with open('your_data.json', 'r') as f:
    data = json.load(f)

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(data)

In [6]:
grouped = df.groupby('brand')

# Initialize an empty dictionary to store results
result = {}
result['seed'] = 100
# Group the DataFrame by 'brand'
grouped = df.groupby('brand')

# Iterate over each group
for name, group in grouped:
    result[name] = {
        'count': len(group),
        'mean_price': group['selling_price'].mean().round(),
        'old_year': group['year'].min(),
        'new_year': group['year'].max(),
        'moda_fuel': group['fuel'].mode().iloc[0] if not group['fuel'].mode().empty else None
    }

In [7]:
result

{'seed': 100,
 'BMW': {'count': 18,
  'mean_price': 4027778.0,
  'old_year': 2010,
  'new_year': 2019,
  'moda_fuel': 'Diesel'},
 'Ford': {'count': 55,
  'mean_price': 506400.0,
  'old_year': 2005,
  'new_year': 2019,
  'moda_fuel': 'Diesel'},
 'Volkswagen': {'count': 27,
  'mean_price': 569963.0,
  'old_year': 2010,
  'new_year': 2019,
  'moda_fuel': 'Diesel'}}

In [11]:
# Convert int64 values to int
def convert_int64_to_int(d):
    for key, value in d.items():
        if isinstance(value, dict):
            convert_int64_to_int(value)
        elif isinstance(value, np.int64):
            d[key] = int(value)

convert_int64_to_int(result)

In [13]:
# Save to a JSON file
with open('data.json', 'w') as file:
    json.dump(result, file, indent=4)  # indent=4 for pretty-printing